.PhotoDisp {
    max-width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: white; */
    margin-top: 1rem;
}


.row {
    justify-content: center;
}

.col {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}